#eventPage {
  margin: 60px;
  .description-wrapper {
    h1 {
      font-weight: 100;
    }
    hr {
      margin-bottom: 1.414em;
      color: @gray7;
      border-color: @gray7;
    }
    background: #F7F7F7;
    padding: 40px 50px;
    border-radius: 3px;
    img {
      max-width: 100%;
    }
  }
}