#eventPage {
  margin: 120px 60px 200px;
  @media @tablet-down {
    margin: 100px 0;
  }
  .description-wrapper {
    margin-right: 60px;
    @media @tablet-down {
      margin-right: 0;
    }
    h1 {
      font-weight: 100;
      font-size: 2.5em;
    }
    hr {
      margin-bottom: 1.414em;
      color: @gray7;
      border-color: @gray7;
    }
    background: #F7F7F7;
    padding: 40px 50px;
    border-radius: 3px;
    img {
      max-width: 100%;
    }
  }
  .info-wrapper {
    @media @tablet-down {
      margin-top: 100px;
    }
    .btn {
      width: 100%;
      margin-bottom: 50px;
    }
    h3 {
      font-weight: 400;
      font-size: 1.3em;
      margin: 0 0 10px;
    }
    background: #F7F7F7;
    padding: 40px 50px;
    border-radius: 3px;
  }
}
#eventPaymentModal {
  h4 {
    font-weight: 100;
    margin-bottom: 20px;
  }
  .close-button {
    font-size: 2em;
  }
  .divider {
    margin: 30px 0;
  }
  .payment-wrapper {
    margin: 30px 0;
    .payment {
      padding: .25rem .4rem;
      border: .05rem solid #bcc3ce;
      color: #3b4351;
      border-radius: .1rem;
      font-size: .8rem;
      line-height: 1.2rem;
      max-width: 100%;
      transition: all .2s ease;
    }
  }
}